@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:300,400,500&display=swap");

* {
  box-sizing: border-box;
  transition: box-shadow 0.2s;
}

html {
  /* overflow: hidden; */
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow: visible;
}

#portal {
  position: fixed;
  z-index: 50;
}
#root,
#root > div {
  min-height: 100vh;
  height: 100%;
  position: relative;
  z-index: 50;
}

em {
  font-style: italic;
}

strong {
  font-weight: 500;
}

p {
  box-sizing: border-box;
  z-index: 10;
  position: relative;
  font-family: Ubuntu;
  font-weight: normal;
  line-height: 1.5em;
  /* word-break: break-all; */
  width: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  /* color: inherit; */
  color: #2c2cd2;
  text-decoration: none;
  margin: 0;
}

a:hover {
  color: darkblue;
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style-type: disc;
  margin-left: 20px;
}

li {
  font-size: 12px;
  margin-top: 10px;
}
